%h2 New Comment
%ul
    - @comment.errors.full_messages.each do |message|
        %li.errors= message

= form_with(model: @comment, url: board_task_comments_path(@task.id), local: true) do |f|
    .field
        = f.text_area :content, class: 'form form2'
    = f.submit 'Submit' , class: 'form btn'