<h2>All Boards</h2>
<% @boards.each do |board| %>
    <%= link_to board_path(id: board.id) do%>
        <div class="block board">
            <div class="block-title">
                <h3><%= board.title %></h3>
            </div>
            <div class="block-content">
                <p><%= board.content %></p>
            </div>
        </div>
    <% end %>
<% end %>

<%= link_to root_path do %>
  <div class="block new-block">
    <p> + Add new borad</p>
  </div> 
<% end %>




