
@import 'header';
@import 'form';
@import 'flash';
@import 'button';

// 共通部分　＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
body {
    margin: 0;
}


.container {
    width: 90%;
    margin: 0 auto;
    font-family: Avenir;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}


img {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    font-size: 20px;
}

.errors {
    
    color: red;   
}

.mt-5 {
    margin-top: 5px;
}

// block関連 **************************************
.block {
    background-color: #f4f4f4;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;

    &-title {
        padding-top: 20px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        width: 80%;
    }

    &-content {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.4;
    }

    img {
        cursor: pointer;
    }
}

.new-block {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;

    p {
        line-height: 160px;
        margin: 0;
    }
}

.new-comment {
    height: 50px;
    p {
        line-height: 50px;
    }
}


// ドロップダウンメニュー関連 ********************************::after

.menu-btn {
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 10px;
    img {
        width: 25px;
    }

}


.dropdown {
    &-menu {
        display: none;
    }

}

.dropdown:hover .dropdown-menu {
    background-color: white;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 40px;
    right: 5px;
    text-align: center;
    align-items: center;
    padding: 5px 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

}

.dropdown:hover .log-out-btn {
    top: 35px;
    align-items: center;
    width: 100px;
}

// コメント ******************************
.comment {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
}

.comment-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.comment-user {
    margin-right: 20px;
    img {
        width: 40px;
    }
}
