




.form {
    width: 97%;
    background: #F4F4F4;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: #F4F4F4;
    padding-left:10px;

}

.form2 {
    height: 200px;
}



